/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

/* Variables Css */

:root {
  --header-height: 3rem;

  /* Colors Css */
  --container-color: #fff;
  --body-color: #ffffff;
  --text-color: rgb(40, 40, 82);
  --title-color:rgb(70, 62, 179);
  --button-color: rgba(202, 107, 171, 0.74);
  

  /* Font css */
  --body-font: 'Poppins', sans-serif;
  --big-font: 3rem;
  --h1-font: 2rem;
  --h2-font: 1.2rem;
  --h3-font: 1rem;
  --normal-font: 0.9rem;
  --small-font: 0.8rem;
  --smaller-font: 0.7rem;
  --tiny-font: 0.6rem;

  /* Font weight */
  --normal-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;

  /* Mergenes Bottoms */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-1-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z-Index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive Font */

@media screen and (max-width:992px) {
  :root {
    --big-font: 2.5rem;
    --h1-font: 1.5rem;
    --h2-font: 1.1rem;
    --h3-font: 0.9rem;
    --normal-font: 0.8rem;
    --small-font: 0.7rem;
    --smaller-font: 0.5rem;
  }
}

/* Base Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font);
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3{
  color: var(--title-color);
  font-weight: var(--semibold-weight);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
  height: auto;
}

/* Reusable Css Classes */

.section{
  padding: 3rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font);
  color: var(--title-color);
}

.section-subtitle{
  display: block;
  font-size: var(--small-font);
  margin-bottom: 1.5rem;
}

.section-title,
.section-subtitle{
  text-align: center;
}

/* Layout */
.container{
  max-width:950px;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

/* Buttons */
.button{
  display: inline-block;
  background-color: var(--button-color);
  color: var(--container-color);
  padding: 1rem 1rem;
  border-radius: 1rem;
  font-weight: var(--medium-weight);
}

/* .button:hover{
  background-color: ;
} */

.button-icon{
  margin-left: var(--mb-0-5);
}

.button-flex{
  display: inline-flex;
  align-items: center;
}


/* Breakpoints */
@media screen and (max-width: 992px){
  .container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width:350px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}